header{
    background-color: #003366;
    color: #fff;
    padding: 1.2rem 2rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: sticky;
}
    
    body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    background-color: #fefefe;
    color: #333;
    display:flex ;
    flex-direction: column;
    min-height: 100vh;
    }

.brand{
    font-size: large;
    font-weight: bold;
}

nav{
    margin-top: 0.5rem;
}
nav a{
    color: #fff;
    text-decoration: none;
    margin:10px 10px ;
    font-weight: bold;
    transition: 0.3s ease-in;
    
    

}
nav a:hover{
    color: #ffcc00;
}
.hero-image{
    background-image: url(fernando-alvarez-rodriguez-M7GddPqJowg-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    
}
.hero-content{
    padding: 20px;
    background-color: rgba(0,0,0,0.6);
}
.container{
    text-align: center;
}
footer{
    background-color: #003366;
    text-align: center;
    padding: 20px;
    font-size: medium;
    color: #fff;
}

/*room page style*/
.box{
    text-align: center;
    padding: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
.container{
    background: whitesmoke;
    margin: 20px;
    padding: 10px;
    
    
}
.grid-container{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3,1fr);
}
.room{
    justify-content: center;
    padding: 30px;
    color: black;
    background: white;
    margin: 10px;
    border-radius: 30px;
    box-shadow: #000;
}
.room h2{
    color: #ffcc00;
}
.room:hover{
    transform: translateY(-5px);
}



.booking-form{
    width: 50%;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(16,46,157,0.1);
}
.booking-form label{
    font-weight: bold;
    text-align: left;
    display: block;
    margin: 10px 0px 5
}
.booking-form input,select{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button{
    background: #003060;
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-size: medium;
    border-radius: 4px;
    transition:  background-color 0.3s ease-in-out;
    text-decoration: none;
    text-align: center;
    
}
button:hover{
    background: #1073d7;
}
@media (max-width:768px) {
    .box{
        width: 95%;
        padding: 0.5rem;
    }
    .grid-container{
        grid-template-columns: 1fr;
    }
}











